html, body {
    margin: 0;
    padding: 0;
    background-image: url("img/table.png");
    background-size: cover;
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    color: white;
    height: 100vh;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
    line-height: 42px;
}

button#new-deck {
    padding: 6px 32px;
    margin-bottom: 0.5em;
    line-height: 32px;
}

button.draw {
    font-size: 1.2em;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 50px;
}

img.card {
    width: 100%;
    height: 100%;
}

div.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.top > p {
    margin: 0;
    margin-left: 10px;
}

button:disabled {
    cursor: not-allowed;
}

/* CONFETTE ANIMATION STARTS HERE */

@keyframes confetti-fall {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
}

.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: red;
  animation: confetti-fall 3s linear infinite;
  z-index: 100;
}